@model RegisterViewModel
@{
    ViewData["Title"] = "Register";
}

<h2>@ViewData["Title"]</h2>

<div class="row" id="choice">
    <div id="choiceKlient" class="col-md-4 col-md-offset-2" onclick="showKlient()" style="display:block; min-height:100px; cursor:pointer;line-height: 100px;">
    <p style="color:blue; text-align:center;" id="choiceKlientP">Spend money</p></div>
    <div id="choiceFreelance" class="col-md-4 col-md-offset-2" onclick="showFreelancer()" style="display:block; min-height:100px; cursor:pointer;line-height: 100px;">
    <p style="color:blue;" id="choiceFreelanceP">Make money</p></div>
</div>
<script>
    function showKlient() {
        $("#klient").show("fast");
        $('#choiceKlientP').css("color", "red");
        $("#freelancer").hide("fast");
        $('#choiceFreelanceP').css("color", "blue");

    }

    function showFreelancer() {
        $("#freelancer").show("fast");
        $('#choiceFreelanceP').css("color", "red");
        $('#klient').hide("fast");
        $('#choiceKlientP').css("color", "blue");

    }
    
</script>
<div class="row" id="klient" hidden>
    <div class="col-md-4">
        <form asp-action="RegisterKlient" asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post">
            <h4>Create a new klient account.</h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserName"></label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FirstName"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword"></label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-default">Register</button>
        </form>
    </div>
</div>

<div class="row" id="freelancer" hidden>
    <div class="col-md-4">
        <form asp-action="RegisterFreelance" asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post">
            <h4>Create a new freelancer account.</h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserName"></label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FirstName"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword"></label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-default">Register</button>
        </form>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
